DB_USER=postgres.xtthnernibwhxoeavhsd
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_NAME=postgres
DB_PASSWORD=MFyTlq8udbQLintZ
DB_PORT=6543
# postgresql://postgres.xtthnernibwhxoeavhsd:[YOUR-PASSWORD]@aws-1-ap-south-1.pooler.supabase.com:6543/postgres
PORT=3000